version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    expose:
      - "8000"

  nginx:
    image: nginx:latest
    ports:
      - "80:8089"
    volumes:
      - ./app/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
