
#list-container li,
#list-containerIng li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

/*class='list'のとき、つまりdetalis内のlistのときは点を表示するって感じ*/
#list-container.list li,
#list-containerIng.list li{
    list-style: disc inside; /* マーカーを内側に配置し、ディスクスタイルを適用 */
    padding-left: 0; /* 左側のパディングを調整 */
    margin-left: 0; /* 左側のマージンを調整 */
}


#list-container li span,
#list-containerIng li span{
    position:absolute;
    left: 0px; /*リストの中身は左側に統一*/
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    background: #d6ffe8;

}
#list-container li span:hover,
#list-containerIng li span:hover{
    background: #edeef0;


}

ul li{
    list-style: none;
}