{% extends 'base.html' %}

{% block header %}
  <div>
    <!-- {% block title %}検索トップ{% endblock %} -->
  </div>

  <style>
    .show-big-graph {
      text-align: center;
      position: left right;
    }
    .show-big-graph a {
      border: 2px solid #00000000;
      color: aqua;
      background-color: rgb(255, 229, 253);
      border-radius: 50px;
      padding: 10px;
      text-decoration: none; /*これで下線が消える*/
      
      
    }
    .show-big-graph a:hover{
      opacity:0.5;
	  transition:0.3s;
    }
  </style>
{% endblock %}

{% block content %}

<div class="show-big-graph"  >
  <a href="/full" style="color:black;">全体グラフを表示</a>
</div>


  <br>
  <form method="post" action="/search" id="searchForm">
    <h1 style="text-align: center;">レシピを検索する</h1>
    
    <hr>

    

    <!-- <div class="slider_container">
      <label for="overview_rate"><span class="range_bar">概要</span></label>
      <input type="range" id="overview_rate" name="overview_rate" min="0" max="100" disabled>
      <label for="story_rate"><span class="range_bar">ストーリー</span></label>
      <input type="range" id="story_rate" name="story_rate" min="0" max="100" disabled>
      <label for="character_rate"><span class="range_bar">キャラクター</span></label>
      <input type="range" id="character_rate" name="character_rate" min="0" max="100" disabled>
    </div> -->

    <div class="range-wrapper">
      <div id="range"></div>
    </div>

    <!-- フォーム内に隠しフィールドを追加 -->
    <input type="hidden" id="liData" name="liData">
    <div class="autoComplete_container" >
      <br>
      <br>
      <div style="text-align: center;"><label  >料理名前で探す</label></div>
      <!-- <input type="radio" name="AndOR" value="AND" />AND
      <input type="radio" name="AndOR" value="OR" checked/>OR -->
      <input type="text" id="autoComplete">
          <ul id="list-container"></ul>

    </div>

    <br>
    <div style="text-align: center;"><label  >URLで検索</label></div>
    <textarea id="inputText" name="inputText" rows="4" placeholder="料理のレシピURLをここに入力してください(クラシル・白ご飯.com・DELISH KITCHEN に対応)" required></textarea>
    <!-- <input type="type" id="inputText" name="inputText" placeholder="検索したい質問の要素を入力してください" required> -->

    <input type="submit" value="検索">


  </form>
  
{% endblock %}