{% extends 'base.html' %}

{% block header %}
  <div>
    <h1>{% block title %}サイトについて{% endblock %}</h1>
  </div>

  <style>
    h1{
      text-align: center;
    }
    h3{
      text-decoration: underline;
    }
    ]
  </style>
{% endblock %}

{% block content %}
  
  <h2>＜このサイトの目的＞</h2>
  <hr size="5">
  <p>個人で運用するwikipediaの情報をもとにベクトル検索を行うサイトになります。</p>
  <p>自然言語で目的の漫画、アニメ、映画などを検索できるようにする目的で作成しています。ユーザーの入力を数学的手法によりベクトル化し、事前に処理されたwikipediaデータと比較を行うことで、ランキングにしています。</p>
  <p>加えて各作品の解説をそれぞれ比較することで、概念的に似ている作品を列挙できるような機能を搭載しています。これにより分野をまたいで類似した作品を調べることができます。</p>
  <p>データは1900年から最新年までの作品（約2万作品）を、wikipediaから取得させて頂きました。このデータからベクトル化やカテゴリ・題材・作者などの情報を取り出すことで、簡単に検索できるようにしました。</p>
  <p>また個々の作品紹介ページでは、wikipediaの内容が階層構造になって表示されています。このため例えば、ある登場人物を見るためにすべての登場人物から探さないといけない・・・という面倒が省けます。</p>
  <p>サムネイルに使用している画像はamazon様のものを使用させて頂いています。画像取得に失敗して誤った画像が表示されることが多々見られますが、個人的に作成しているもののためご了承お願いします。今後改善する予定です。</p>
  
  <h2>＜このサイトの使い方＞</h2>
  <hr size="5">
  <h3>検索フォームについて</h3>
  <p>検索フォームの上に現れる作品紹介は完全ランダムなものであり、特定の誘導などを目的としたものではありません。せっかくデータベースを作ったのだから一期一会の作品との出会いも粋だなぁと思ってつけただけです。</p>
  <h4>◎年代・検索範囲の決定</h4>
  <p><img src="{{ url_for('static', filename='images/year.png') }}" alt="" style="width: 300px;"></p>
  <p>1900年から最新年までの漫画・アニメ・小説の中から（または選択した中から）検索することが可能です。</p>
  <h4>◎関連カテゴリ</h4>
  <p><img src="{{ url_for('static', filename='images/categories.png') }}" alt="" style="width: 300px;"></p>
  
  <p>作者・担当・舞台・ジャンル・題材・主人公の属性・出版社といった様々なカテゴリ(約３万ほどあります)を選んで検索することが可能です。ここで担当とは声優や俳優・デザイナーなど、あるキャラクターについての担当という意味を表します。</p>
  カテゴリは複数選ぶことができ、また「かつ(AND)」「または(OR)」を指定して検索することができます。例えば「週刊少年ジャンプの漫画作品」と「ジャンル：鬼退治」を選んで「AND」を指定して選んだ結果が<a href="/results?input=&searchall=on&liData=週刊少年ジャンプの漫画作品,題材:鬼&AndOr=AND&start_year=1900&end_year=2024&manga=on&anime=on&novel=on">こちらになります</a>。
  <p>担当を選んだ場合は、検索結果の一番右に「キャラクター」という項目が追加されます。これはその人物が作品内のどのキャラクターを担当したのかを示したものです。でもどんなキャラクターなのか分からない・・・という場合はキャラクターの名前を押せば自動的にそのキャラの紹介部分に飛ぶことができます。 </p>
  またカテゴリ検索と通常の検索を併用することも可能です。例えば「大塚明夫さんが声優やってるジョジョのキャラって誰だっけ・・・？」と思った場合は「担当：大塚明夫」を選択したあとで検索欄に「ジョジョ」と打ち込んで検索してみましょう。検索結果は<a href="/results?input=ジョジョ&searchall=on&liData=担当:大塚明夫&AndOr=OR&start_year=1900&end_year=2024&manga=on&anime=on&novel=on">こちらになります</a>。
  <h4>◎検索欄</h4>
  <p><img src="{{ url_for('static', filename='images/textinput.png') }}" alt="" style="width: 300px;"></p>
  
  ホントになんでも入力できます。もちろん「コーヒー」と調べればコーヒーに関連した作品が出てきますし、「海上自衛隊が第二次世界大戦の時代のタイムスリップ」という長文でもそれなりの結果が出てきます。（制作者の好きな<a href="/manga_page?title=ジパング_enc-28_enc-18漫画_enc-17&year=2000">ジパング</a>はちょっと下ですが・・・）
  <p>これはベクトルという文章の概念を比較する手法と、旧来のカテゴリ中から単語を調べるというシステムを併用しているためです。そのため<a href="/results?input=酵母菌&searchall=on&liData=&AndOr=OR&start_year=1900&end_year=2024&manga=on&anime=on&novel=on">「酵母菌」と調べてヨーグルトやパンについての作品が検索されるなど</a>通常の検索とはちょっと変？な結果が得られることもあります。（検索がかなりゆるゆるです！）</p>
  <p>ただ逆に言えば思ってもいなかったような作品に巡り会えるチャンスでもあります（ポジティブに考えすぎでしょうか？）。どんな作品が出るのか楽しみながら検索してみてください。</p>
  <h4>◎おすすめランク</h4>
  <p>検索結果の左に表示されるおすすめランクは、単語のマッチ度・概念の似ている度合いなどを元に算出したものです。検索結果にはそのうち上位100個が表示されます。この数は固定のため、あまり一致していない作品も表示されてしまう場合があります。</p>
  <p>ただカテゴリを選んだ場合だとそのカテゴリのものがすべて表示されます。そのためカテゴリが多い場合は表示に時間がかかり、また通信量が多くなるので注意してください。</p>
  <h3>作品紹介ページについて</h3>
  <p>作品紹介ページでは、wikipediaの内容を元にジャンル・舞台・題材や著者・出版社などといった詳細情報を確認することができます。またその作品についての詳細な解説を見ることができます。（wikipediaからの引用のため正確性は保証致しかねます。）</p>
  <p>作品についての解説は初期状態では折りたたまれています。読みたい部分を展開すればその部分だけ読むことができます</p>
  <p>ページ内の青色文字の部分（<b>ジャンル</b>：<a href="/results?input_text=&liData=ジャンル:超能力">超能力</a>　など）はすべてリンクになっていて、その関連作品を調べることができます。</p>
  <h4>◎外部サイトでの検索</h4>
  <p><img src="{{ url_for('static', filename='images/othersite.png') }}" alt="" style="width: 300px;"></p>
  <p>「他で調べる」の部分に列挙されているアイコンを押すと、それぞれpixivやpinterestといった外部サイトに飛ぶことができます。この際作品タイトルを自動で検索してくれるため、いちいちコピペして入力するといった手間を省くことができます。</p>
  <p>また各登場人物についてもそれぞれ外部サイトへのリンクが貼られています。このリンクを押すと、「作品タイトル　キャラクター名」で自動的に検索されます。</p>
  <h4>◎声優検索</h4>
  <p>登場人物に声優のリンクがついている場合があります。(例：声-<a href="/results?input_text=&liData=担当:富樫美鈴">富樫美鈴</a>)このリンクを押すと、その声優の担当している他作品のキャラクターを調べることができます。</p>
  <h4>◎似ている漫画・アニメ・小説</h4>
  <p>作品解説をもとに、概念的に似ていると思われる作品を列挙しています。ここで表示は漫画>アニメ>小説の順で行われます。つまり漫画・アニメ・小説すべて存在する作品の場合は漫画として扱われます。また類似度的に漫画での表示に入らなかった場合も、アニメや小説がある場合はそちらで表示される場合があります。</p>
  <h2>＜サイト内の不具合＞</h2>
  <hr size="5">
  <h3>検索の精度について</h3>
  <p>現時点ではあまり精度が良いとは言えません。これは検索アルゴリズムがよくないのと、wikipediaからデータを取得するというシステム上、wikipediaにない作品は検索できないためです。</p>
  <p>特に最近の作品や同人誌系の作品はwikipediaでは取り扱われない傾向にあるため、もし探したかったはずの作品が検索しても出てこない！という場合は、お手数ですがwikipediaにて新規にページを作成していただけたらと思います（この際~年の漫画作品　というような年代カテゴリの登録をお願いします。）。不定期ではありますがページ更新を行う予定であり、wikipediaに新たな作品が追加されていた場合はこのサイトにも登録を行う予定です。</p>
  <p>またサムネイル画像についてもかなりサムネ詐欺が横行していることが見受けられます。今後画像取得アルゴリズムを見直して更新する予定です。</p>
  <h3>作品ページの不具合</h3>
  <p>まれに作品ページが存在しない場合があります。また一部の作品ページで表示がおかしい場合が見受けられます。これはwikipediaのデータを解析する際に不具合が生じているためです。今後アルゴリズムを修正する予定です。</p>
  <p>もし不具合を見つけられた際は、お手数ですが<a href="/contact">お問い合わせ</a>までご連絡ください。</p>
{% endblock %}