{% extends 'base.html' %}

{% block header %}
  <div>
    <h1>{% block title %}サイトポリシー{% endblock %}</h1>
  </div>
{% endblock %}

{% block content %}
  <h1>プライバシーポリシー</h1>

  <h2>個人情報の利用目的</h2>
  <p>当サイトでは、お問い合わせや記事へのコメントの際、名前やメールアドレス等の個人情報を入力いただく場合がございます。
    取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。</p>

  <h2>広告について</h2>
  <p>当サイトでは、第三者配信の広告サービス（Googleアドセンス、Amazonアソシエイト、A8.net、楽天アフィリエイト）を利用しています。
    これらの広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、当サイトや他のサイトへのアクセスに関する情報
    (氏名、住所、メールアドレス、電話番号は含まれません) を使用することがあります。
    このプロセスにより、当サイトや他のサイトへのアクセスに関する情報が使用されていることになります。</p>

  <h2>アクセス解析ツールについて</h2>
  <p>当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
    このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。
    このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
    この機能はCookieを無効にすることで収集を拒否することができますので、お使いのブラウザの設定をご確認ください。</p>

  <h2>免責事項</h2>
  <p>当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。
    また当サイトのコンテンツ・情報について、可能な限り正確な情報を掲載するよう努めていますが、誤情報が入り込んだり、情報が古くなっていることもございます。
    本サイトの情報・コンテンツについて、あくまでも個人の見解を述べているものであり、正確性や安全性を保証するものではありません。
    万が一、本サイトの情報・コンテンツをご利用頂くことで損害が発生した場合でも、一切の責任を負いません。</p>

{% endblock %}