<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="料理検索　レシピ検索">
  <meta name="description" content="料理検索　レシピ検索">

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JZE3B49YRS');
</script>

  <link rel="icon" href="{{ url_for('static', filename='images/favicon (1).ico') }}?v={{ now() }} ">
  <meta name="viewport" content="width=device-width,initial-scale=1">  <!-- レスポンシブ対応のためにまず書く必要がある-->
  <script type="text/javascript">
    var full_categoires_list = {{ full_categories_list | tojson | safe }};
    var full_categoires_listIng = {{ full_categories_listIng| default([]) | tojson | safe }};
  </script>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.6.1/nouislider.min.js"></script> -->

  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile_style.css') }}?v={{ now() }}" media="screen and (min-width:0px)"> <!-- スマホ画面向け-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v={{ now() }}" media="screen and (min-width:500px)"> <!--PC画面向け-->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.3/dist/css/autoComplete.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/AutoComplete.css') }}">
 

  <title>{% block title %}{% endblock %}</title>
  
  <style>
    .random_work {
      text-align: center; /* テキストを中央揃えにします */
      display: flex; /* Flexbox モデルを使用 */
      flex-direction: column; /* 項目を縦に並べます */
      align-items: center; /* 項目を軸に沿って中央揃えにします */
      justify-content: center; /* 項目をコンテナ内で中央に配置します */
      
    }
  
    .random_work img {
      margin-top: 10px; /* 画像とテキストの間に余白を追加します */
    }
    .random_work a{
      /* text-decoration: none; */
      color: black;
    }

    .other-link-container a{
      text-decoration: none;
    }
  </style>

</head>

<body>
  <nav>
    <h3 style="text-align: center;"><a href="/" style="color:black">レシピ検索</a></h3>
  </nav>

  <div class="container">

    <div class="popup-bg-cover" id="loadingIndicator" style="display: none;">
      <div id="loadingIndicator-text">
        Loading...
      </div>
      <!-- 初めに画面を暗くするよう -->
  </div>

  
    <aside class="sidebar"></aside>

    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>

      {% block content %}{% endblock %}
    </section>

    <aside class="sidebar"></aside>
  </div>

  <footer>
    <ul>
      <li><a href="/" style="color:black">ホーム</a></li>
      <li><a href="/full" style="color:black">全体グラフを表示</a></li>
    </ul>
    <small>&copy; 2024 レシピ検索</small>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
  <script src="{{ url_for('static', filename='js/AutoComplete.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const startYearSelect = document.querySelector('select[name="start_year"]');
        const endYearSelect = document.querySelector('select[name="end_year"]');
        const endYearInput = document.querySelector('#end_year');
        const startYearInput = document.querySelector('#start_year');
        function updateEndYearOptions() {
            const selectedStartYear = parseInt(startYearSelect.value);
            const currentEndYear = parseInt(endYearSelect.value);
    
            // 終了年の選択肢をクリアして、新しい範囲を設定
            endYearSelect.innerHTML = '';
            for (let year = selectedStartYear+1; year <= 2024; year++) {
                const option = document.createElement('option');
                option.value = year;
                option.textContent = year;
                if (year === currentEndYear) {
                    option.selected = true;
                    startYearInput.value=startYearSelect.value;
                }
                endYearSelect.appendChild(option);
            }
        }
    
        function updateStartYearOptions() {
            const selectedEndYear = parseInt(endYearSelect.value);
            const currentStartYear = parseInt(startYearSelect.value);
    
            // 開始年の選択肢をクリアして、新しい範囲を設定
            startYearSelect.innerHTML = '';
            for (let year = 1900; year < selectedEndYear; year++) {
                const option = document.createElement('option');
                option.value = year;
                option.textContent = year;
                if (year === currentStartYear) {
                    option.selected = true;
                    endYearInput.value=endYearSelect.value;
                }
                startYearSelect.appendChild(option);
            }
        }
    
        // 開始年の選択が変更されたときに終了年の選択肢を更新
        startYearSelect.addEventListener('change', updateEndYearOptions);
    
        // 終了年の選択が変更されたときに開始年の選択肢を更新
        endYearSelect.addEventListener('change', updateStartYearOptions);
  
        startYearSelect.value={{start_year}};
        endYearSelect.value ={{end_year}};
        updateStartYearOptions();
        updateEndYearOptions(); //ロード時に変更してしまう
    });
    </script>


    <script>
      //textareaにてEnterキーが押された場合に自動でpostするためのスクリプト
      
      document.addEventListener('DOMContentLoaded', function () {
          var textArea = document.getElementById('inputText');
          textArea.addEventListener('keydown', function(e) {
              // Enterキーが押され、かつShiftキーが押されていない場合
              if (e.keyCode === 13 && !e.shiftKey) {
                  e.preventDefault(); // デフォルトの改行動作をキャンセル
                  var form = document.getElementById('searchForm'); // フォームのIDを指定
                  form.submit(); // フォームを送信
              }
          });
      });
      </script>

</body>



</html>